
.menu__inner-wrapper *::selection {
    background: transparent;
}

.menu__inner-wrapper {
    border-bottom: 1px solid lightgray;
}

.menu__inner-wrapper a {
    display: inline-block;
    padding: 5px 8px;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.dropdown, .dropdown__content {
    display: inline-block;
}

.dropdown {
    position: relative;
}

.dropdown .dropdown__content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid lightgray;
    border-top: none;
    z-index: 99;
 }

.dropdown__content--image {
    width: 300px;
    padding: 15px;
}

.dropdown.dropdown--active .dropdown__content {
    display: inline-block;
}

.dropdown__content a {
    white-space: nowrap;
    display: block;
}

.dropdown__trigger {
    cursor: pointer;
}

.dropdown__trigger:after {
    font-family: FontAwesome;
    content: '\f107';
    margin-left: 5px;
}

.dropdown--active .dropdown__trigger:after {
    content: '\f106';
}