.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: left;
  padding: 0 15px;
}

.app-shell {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.images {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.images-row {
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.images-row {
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.images-row:last-child {
  border-bottom: 0;
}

.image-wrapper {
  flex-grow: 1;
  display: flex;
}

.aside {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  border-left: 1px solid lightgray;
  padding-left: 15px;
  margin-left: 15px;
}

.aside__item {
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.aside__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.aside__item__title {
  margin-top: 0;
}

.aside__item--operation {

}

.aside__item--operation h3 {
  margin-top: 0;
}

.aside__item--history {
  flex-grow: 1;
}

.aside__item--upload {

}

.history-position {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px 0;
}

.history-position__title {
  flex-grow: 1;
}

.history-position__delete {
  padding-left: 5px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
