.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: left;
  padding: 0 15px;
}

.app-shell {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.images {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.images-row {
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.image-wrapper {
  flex-grow: 1;
  display: flex;
}

.history-position {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px 0;
}

.history-position__title {
  flex-grow: 1;
}

.history-position__delete {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
